html {
  height: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.columns{
  float: left;
  height: 100%;
  text-align: center;
}

#col-1{
  width: 60%;
  display: table;
}

#col-2{
  width: 40%;
}

.rows{
  height: 50%;
  margin: auto;
  display: table;
}

.cmd-glyph{
  font-size: 15vw;
  display: table-cell;
  vertical-align: middle;
  top: 0;
}

#cmd-select{
  font-size: 25vw;
  display: table-cell;
  vertical-align: middle;
}

.views{
  height: 100%;
  margin: 0;
  padding: 0;
}

.time-container{
  height: 40%;
  margin: auto;
  display: table;
}

#time{
  font-size: 20vw;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}


.progress-container{
  height: 10vh;
  width: 90%;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  position: absolute;
  margin: auto;
}

#progress{
  height: 50%;
}

.count-container{
    display: block;
    height: 30%;
    width: 100%;
    margin: auto;
    position: absolute;
    display: table;
    bottom: 0;
    text-align: center;
}

#count{
  font-size: 10vw;
  margin: 0;
  display: table-cell;
  vertical-align: middle;

}

.row-img{
    display: table;
    margin: auto;
    width: 100%;
    height: 75vh;
}

.img-container{
    margin: auto;
    display: table-cell;
    vertical-align: middle;
    width: 60vw;
    height: 60vh;
}

.img-menu{
    bottom: 70px;
    right: 0;
    top: 0;
    left: 0;
    position: absolute;
    margin: auto;
    width: 48vh;
}

#carousel-menu,.carousel-inner,.item{
    height: 100%;
}

.carousel-title{
    color: #333;
    text-decoration: none;
    text-shadow: none;
}

.carousel-control.left, .carousel-control.right{
    background-image: none;
}

.carousel-indicators .active{
    background-color: #333;
}

.carousel-indicators li{
    border-color: #333;
}

.carousel-control, .carousel-control:hover, .carousel-control:focus{
    color: #333;
    opacity: 1;
    text-shadow: none;
}

/*#count-container{
  height: 20%;
  margin: auto;
  display: table;
}

#count{
  font-size: 10vw;
  margin: 0;
  display: table-cell;
  vertical-align: middle;
}*/
